.options {
  position: relative;
  z-index: 2;

  &__galaxy {
    width: 73px;
    transition: all 0.6s linear;

    @media (max-width: 500px) {
      width: 50px;
    }
  }

  &__menu {
    position: absolute;
    top: 100%;
    left: -100%;
    transition: opacity 0.5s linear;
    opacity: 0;
    z-index: 2;

    /* &--light {
      border: 2px solid #000;
      background-color: #BBB5FC;
    }
  
    &--dark {
      border: 2px solid #fff;
      background-color: #100622;
    } */
  }
}